.logo {
	
}

.product_image {
	height: 250px;
	background-size: cover;
}


.sdt-page {
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 135px;
}

.details_image_large {
	height: 500px;
	background-size: cover;	
}